<a href="https://colab.research.google.com/github/abnerdaniel/AV1-WDC/blob/main/Prova_AV2_Gest%C3%A3o_do_Conhecimento.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

DISCIPLINA: Gestão do Conhecimento	 PROFESSOR(A): Alex Salgado
PERÍODO: 7o. TURNO: noite AVALIAÇÃO:

ALUNO(A): Abner Daniel Olegario de Abreu

GRAU: VISTO DO PROFESSOR:

# Questão 1 - valor (0,0)

*** Crie um repositório no Github e adicione este arquivo no mesmo


1.1 - Você deve escolher uma base de dados do Kaggle.

A natureza desse dataset deve se encaixar em um problema que podemos resolver utilizando modelos de previsão de machine learning supervisionado de classificação. 

A partir desta base de dados do Kaggle, você vai treinar o modelo, fazer previsões e calcular a acurácia do mesmo, usando modelos e algoritmos que desejar.

Obs1: Usar o Kaggle como fonte para o seu dataset obrigatoriamente.
Obs2: Implementações idênticas ou bem parecidas pode levar a anulação da NOTA ou seja, ZERO!! Faça o melhor com sua equipe apenas.

1.1 - Coloque aqui o link para o seu dataset escolhido no Kaggle.

In [ ]:
https://www.kaggle.com/gregorut/videogamesales

1.1.1 - Descreva sobre o que é base de dados.

In [ ]:
Essa base contem uma lista de Jogos de consoles com vendas superiores a 100k

1.1.2 - Se você fez em grupo, quais os nomes dos componentes do seu grupo?

In [ ]:
Abner Daniel Olegario de Abreu

1.2 - Após tratada, criar uma pasta no seu GoogleDrive e disponibilizar o link do arquivo de sua base (csv, xlsx, etc) para ser importado no seu código.

In [ ]:
https://drive.google.com/file/d/1JOWr2a7KDsd2phz7hb_tAfO9cExrDlMm/view?usp=sharing

## Criar um código usando o Jupyter Notebook e responder (através de código) às seguintes questões:

# Questão 2 - valor (1,5)

2.1 - Importar os modulos python para machine learn e carregar o arquivo 

** Sugestão se for do tipo xlsx, usar o read_excel do pandas
import pandas as pd
dt = pd.read_excel("meuarquivo.xlsx")

In [28]:
import pandas as pd

In [83]:
df_game = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/vgsales3.csv')
df_game2 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/vgsales4.csv')

2.2 - Exibir os primeiros registros desta tabela.

In [33]:
df_game.head()

   Rank                      Name    5  ...  JP_Sales  Other_Sales Global_Sales
0     1                Wii Sports  Wii  ...      3.77         8.46        82.74
1     2         Super Mario Bros.  NES  ...      6.81         0.77        40.24
2     3            Mario Kart Wii  Wii  ...      3.79         3.31        35.82
3     4         Wii Sports Resort  Wii  ...      3.28         2.96        33.00
4     5  Pokemon Red/Pokemon Blue   GB  ...     10.22         1.00        31.37

[5 rows x 11 columns]

2.3 - De que se trata esse banco de dados? e que tipo de previsão pode ser feito com ele?

In [ ]:
Trata-se de dados de venda de jogos por generos e popularidade em cada continente.
Da para prever quais generos tem chance de fazer mais sucesso por continente.

# Questão 3 - valor (2,5)

Utilizando as terminologias de Machine Learning(features e observações):

3.1 - Quantas "features" têm nessa base de dados?

In [ ]:
5

3.2 - Quantas observações têm nessa base de dados?

In [ ]:
16,598

3.3 - Separe o que é entrada (features) do seu dataset na variável X, e exiba.

In [120]:
X = df_game[df_game.columns[6:10].tolist()]
X

       NA_Sales  EU_Sales  JP_Sales  Other_Sales
0         41.49     29.02      3.77         8.46
1         29.08      3.58      6.81         0.77
2         15.85     12.88      3.79         3.31
3         15.75     11.01      3.28         2.96
4         11.27      8.89     10.22         1.00
...         ...       ...       ...          ...
16593      0.01      0.00      0.00         0.00
16594      0.01      0.00      0.00         0.00
16595      0.00      0.00      0.00         0.00
16596      0.00      0.01      0.00         0.00
16597      0.01      0.00      0.00         0.00

[16598 rows x 4 columns]

3.4 - Separe o que é saída (target/resposta) do seu dataset na variável y, e exiba.

In [121]:
y = df_game[df_game.columns[4:5].tolist()]
yn = df_game2[df_game2.columns[4:5].tolist()]
yn

              Genre
0            Sports
1          Platform
2            Racing
3            Sports
4      Role-Playing
...             ...
16593      Platform
16594       Shooter
16595        Racing
16596        Puzzle
16597      Platform

[16598 rows x 1 columns]

# Questão 4 - valor (1,5)

4.1 - Utilizando a sua base, faça um treinamento e uma previsão, usando o algoritmo de clsssificação de sua escolha.

In [102]:
from sklearn.neighbors import NearestCentroid
clf = NearestCentroid()
clf.fit(X, yn)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:985: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

NearestCentroid()

In [103]:
clf.predict([[0,7.49,0,0],[2.49,7.49,41.49,3.49],[29.08,03.58,6.81,3.49]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:446: UserWarning: X does not have valid feature names, but NearestCentroid was fitted with feature names
  "X does not have valid feature names, but"

array(['Shooter', 'Role-Playing', 'Platform'], dtype=object)

#### Genero do jogo: ***['Shooter', 'Role-Playing', 'Platform']***

# Questão 5 - valor (1,5)

Usando o método de avaliação de acurácia (Train test split), Escolha outros 2 algoritmos de classificação e calcule a acurácia dos mesmos.

5.2 - Acurácia usando o algoritmo 1 ?

In [134]:
knn = KNeighborsClassifier(n_neighbors=1)
knn.fit(X, y)
y_pred = knn.predict(X)
# Acurácia
from sklearn import metrics
print(metrics.accuracy_score(y, y_pred))

/usr/local/lib/python3.7/dist-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

0.44788528738402217

5.3 - Acurácia usando o algoritmo 2 ?

In [132]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression(solver='liblinear')
logreg.fit(X, y)
knn = KNeighborsClassifier(n_neighbors=1)
knn.fit(X, y)
y_pred = knn.predict(X)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:985: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

In [133]:
from sklearn import metrics
knn = KNeighborsClassifier(n_neighbors=2)
knn.fit(X, y)
y_pred = knn.predict(X)
print(metrics.accuracy_score(y, y_pred))

/usr/local/lib/python3.7/dist-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

0.3300397638269671

5.4 - De acordo com seus resultados anteriores, qual dos 2 algoritmos é mais eficiente?

# Questão 6 - valor (1,5)

6 - Faça um visualização auto-explicativa da sua base de dados utilizando o matplotlib. Coloque o código e a visualização abaixo.

In [122]:
X1 = x
y1 = y

In [ ]:
*** Envie o link do seu Github com essa resposta no Classroom